input {
	outline: none;
	transition: border-color 0.2s ease;
	&:focus {
		outline: none;
	}
}

.field {
	padding: 9px 14px 9px 16px;
	border: 1px solid var(--color-gray-300);
	border-radius: var(--border-radius-m);
	font-size: 16px;
	line-height: 1.5;
	color: var(--color-dark-blue);
	&::-webkit-input-placeholder {
		color: var(--color-gray-500);
	}
	&::-moz-placeholder {
		color: var(--color-gray-500);
	}
	&:-ms-input-placeholder {
		color: var(--color-gray-500);
	}
	&::-ms-input-placeholder {
		color: var(--color-gray-500);
	}
	&::placeholder {
		color: var(--color-gray-500);
	}
	&:focus {
		border-color: 1px solid var(--color-gray-500);
	}
}
