$color-white: #ffffff;
$color-off-white: #f9fafb;
$color-accent-bg: #faf8f6;
$color-dark-blue: #333461;
$color-brand: #483d8b;
$color-purple-400: #7567ca;
$color-purple-200: #c0b9ec;
$color-complementary: #21ad96;
$color-complementary-200: #d5f7f2;
$color-gray-300: #d0d5dd;
$color-gray-500: #667085;
$color-gray-800: #4a556c;

$border-radius-s: 4px;
$border-radius-m: 8px;

$container-padding-x: 15px;
